.header__logo {
  background-image: url(../../../images/header/__logo/header__logo.svg);
  width: 176px;
  height: 52px;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
  }  
}